<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERS</title>
    <link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffffff' class='bi bi-star' viewBox='0 0 16 16'%3E%3Cpath d='M8 2l1.225 3.68h3.899l-3.1 2.25.925 3.424L8 9.74l-2.95 2.364.925-3.424-3.1-2.25h3.9L8 2zm0-1.293L7.45.717 8 1.403l.55-.686L8 0z'/%3E%3Cpath fill-rule='evenodd' d='M4 11.847l-3.588 2.155.89-4.926-3.1-2.251h4.028l1.227-3.679 1.226 3.68h4.028l-3.1 2.25.89 4.926z'/%3E%3C/svg%3E" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
   

    <!-- Add Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add FontAwesome CSS (for icons) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">


</head>
<body>
    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-star"></i>Employee Review System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
    
    <div class="container mt-5">
        <!-- Content from view templates will be inserted here -->
        <%- body %>
    </div>

    <!-- Back to Top Button -->
    <div class="back-to-top">
        <a href="#top">Go to Top <i class="fa-solid fa-circle-up fa-flip"></i></a>
      </div>
    <!-- Add Bootstrap and jQuery JavaScript (for Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="/assets/Java Script/layout.js"></script>
</body>
</html>
